{
  "default-ssl": {
    "Account": {
      "Email": "{{ acme_email }}",
      "Registration": {
        "body": {
          "status": "valid",
          "contact": [
            "mailto:{{ acme_email }}"
          ]
        },
        "uri": "{{ acme_uri }}"
      },
      "PrivateKey": "{{ acme_private_key }}",
      "KeyType": "{{ acme_key_type }}"
    },
    "Certificates": [
      {
        "domain": {
          "main": "{{ acme_domain }}"
        },
        "certificate": "{{ acme_certificate }}",
        "key": "{{ acme_key }}",
        "Store": "default"
      }
    ]
  }
}
