lego_dns_provider: acme-dns
lego_dns_vars: ACME_DNS_API_BASE=123 ACME_DNS_STORAGE_PATH=/foo ACME_DNS_STORAGE_BASE_URL=/bar

lego_acct_id: 123456789
lego_acct_key: |
  -----BEGIN EC PRIVATE KEY-----
  -----END EC PRIVATE KEY-----
lego_crt_key: |
  -----BEGIN EC PRIVATE KEY-----
  -----END EC PRIVATE KEY-----
lego_domain: domain.tld
lego_email: root@domain.tld
lego_server: acme-staging-v02.api.letsencrypt.org
#lego_server: acme-v02.api.letsencrypt.org

nginx_proxy_map: |
  sub1.domain.tld 10.11.12.13:80;
  sub2.domain.tld 20.21.22.23:443;
  sub3.domain.tld 30.31.32.33:8080;

timezone: America/Los_Angeles