{{ ansible_managed | comment }}

global:
  checkNewVersion: false
  sendAnonymousUsage: false

log:
  filePath: /var/log/traefik/traefik.log
  level: ERROR

experimental:
  http3: true

accessLog:
  filePath: /var/log/traefik/access.log

entryPoints:
  https:
    address: ":{{ dst_port }}"
    http3: {}

## providers
providers:
  file:
    directory: "/etc/traefik"
    watch: false

api:
  insecure: false
  dashboard: false

pilot:
  dashboard: false

ping: {}

http:
  routers:
    git-router:
      rule: "Host(`{{ host }}`) && PathPrefix(`/git`)"
      service: "git-svc"
      entryPoints:
        - "https"
      tls:
        certResolver: default-ssl
      middlewares: git-stripprefix
    registry-router:
      rule: "Host(`{{ host }}`) && PathPrefix(`/v2`)"
      service: "registry-svc"
      entryPoints:
        - "https"
      tls:
        certResolver: default-ssl
    ci-router:
      rule: "Host(`{{ host }}`) && PathPrefix(`/`)"
      service: "ci-svc"
      entryPoints:
        - "https"
      tls:
        certResolver: default-ssl

  services:
    git-svc:
      loadBalancer:
        servers:
          - url: "{{ git_host }}"
    registry-svc:
      loadBalancer:
        servers:
          - url: "{{ registry_host }}"
    ci-svc:
      loadBalancer:
        servers:
          - url: "{{ ci_host }}"

  middlewares:
    git-stripprefix:
      stripPrefix:
        prefixes:
          - "/git"
        forceSlash: false


## https mode : let's encrypt
certificatesResolvers:
  default-ssl:
    acme:
      email: "contact@domain.com"
      storage: "{{ acme_storage }}"
      dnsChallenge:
        provider: {{ dns_challenge_provider }}
        delayBeforeCheck: 10
