{{ ansible_managed | comment }}

global:
  checkNewVersion: false
  sendAnonymousUsage: false

log:
  filePath: /var/log/traefik/traefik.log
  level: ERROR

accessLog:
  filePath: /var/log/traefik/access.log

entryPoints:
  https:
    address: ":{{ traefik_dst_port }}"
    http3: {}
    http:
      tls:
        certResolver: default-ssl
        domains:
          - main: "{{ acme_domain }}"
## wildcard dns
#            sans:
#              - "*.{{ acme_domain }}"

## providers
providers:
  file:
    directory: "/etc/traefik"
    watch: false

api:
  insecure: false
  dashboard: false

ping: {}

http:
  routers:
    git-router:
      rule: "Host(`{{ acme_domain }}`) && PathPrefix(`/cgit`)"
      service: "git-svc"
      entryPoints:
        - "https"
    registry-router:
      rule: "Host(`{{ acme_domain }}`) && PathPrefix(`/v2`)"
      service: "registry-svc"
      entryPoints:
        - "https"
    registry-ui-router:
      rule: "Host(`{{ acme_domain }}`) && PathPrefix(`/ui`)"
      service: "ci-svc"
      entryPoints:
        - "https"
    ci-router:
      rule: "Host(`{{ acme_domain }}`) && PathPrefix(`/`)"
      service: "ci-svc"
      entryPoints:
        - "https"

  services:
    git-svc:
      loadBalancer:
        servers:
          - url: "{{ traefik_host_git }}"
    registry-svc:
      loadBalancer:
        servers:
          - url: "{{ traefik_host_registry }}"
    ci-svc:
      loadBalancer:
        servers:
          - url: "{{ traefik_host_ci }}"


## https mode : let's encrypt
certificatesResolvers:
  default-ssl:
    acme:
      email: "contact@domain.com"
      storage: "/etc/traefik-ssl/acme.json"
      dnsChallenge:
        provider: {{ traefik_dns_provider }}
        delayBeforeCheck: 10
