{{ ansible_managed | comment }}

global:
  checkNewVersion: false
  sendAnonymousUsage: false

log:
  filePath: /var/log/traefik/traefik.log
  level: ERROR

experimental:
  http3: true

accessLog:
  filePath: /var/log/traefik/access.log

entryPoints:
  https:
    address: ":{{ dst_port }}"
    http3: {}

## providers
providers:
  file:
    directory: "/etc/traefik"
    watch: false

api:
  insecure: false
  dashboard: false

ping: {}

http:
  routers:
    git-router:
      rule: "Host(`{{ host }}`) && PathPrefix(`/cgit`)"
      service: "git-svc"
      entryPoints:
        - "https"
      tls:
        certResolver: default-ssl
      middlewares:
        - ip-allow-list
    registry-router:
      rule: "Host(`{{ host }}`) && PathPrefix(`/v2`)"
      service: "registry-svc"
      entryPoints:
        - "https"
      tls:
        certResolver: default-ssl
      middlewares:
        - ip-allow-list
    registry-ui-router:
      rule: "Host(`{{ host }}`) && PathPrefix(`/ui`)"
      service: "registry-ui-svc"
      entryPoints:
        - "https"
      tls:
        certResolver: default-ssl
      middlewares:
        - ip-allow-list
        - registry-ui-strip-prefix
    ci-router:
      rule: "Host(`{{ host }}`) && PathPrefix(`/`)"
      service: "ci-svc"
      entryPoints:
        - "https"
      tls:
        certResolver: default-ssl
      middlewares:
        - ip-allow-list

  services:
    git-svc:
      loadBalancer:
        servers:
          - url: "{{ git_host }}"
    registry-svc:
      loadBalancer:
        servers:
          - url: "{{ registry_host }}"
    registry-ui-svc:
      loadBalancer:
        servers:
          - url: "{{ registry_ui_host }}"
    ci-svc:
      loadBalancer:
        servers:
          - url: "{{ ci_host }}"

  middlewares:
    ip-allow-list:
      ipWhiteList:
        sourceRange:
          - "{{ ci_range_1 }}"
          - "{{ ci_range_2 }}"
          - "{{ ci_range_3 }}"
    registry-ui-strip-prefix:
      stripPrefix:
        prefixes:
          - "/ui"

## https mode : let's encrypt
certificatesResolvers:
  default-ssl:
    acme:
      email: "contact@domain.com"
      storage: "{{ acme_storage }}"
      dnsChallenge:
        provider: {{ dns_challenge_provider }}
        delayBeforeCheck: 10
