ipv6_addr = "2001:0000:130F:0000:0000:09C0:876A:130B/64"
ipv6_gw = "2001:0000:130F:0000::254"
dns1 = "2001:0000:130F:0000::1"
dns2 = "2001:0000:130F:0000::2"

proxmox_api_endpoint = "12.34.56.78"
proxmox_api_token = "user@realm!token-name=token-secret"
proxmox_ssh_user = "user"

public_key_path = "~/.ssh/id_ed25519.pub"
private_key_path = "~/.ssh/id_ed25519"
ssh_key = "your-public-key-here"

timezone = "America/Los_Angeles"