cfg_timezone: America/New_York

cluster_ipv4: 10.42.0.0/16
cluster_ipv6: 2001:cafe:42::/56

host_ipv4: 1.2.3.4
host_ipv4_gw: 5.6.7.8
host_ipv4_mask: 255.255.255.255
host_ipv6: 2001:0000:130F:0000:0000:09C0:876A:130B
host_ipv6_range: 2001:0000:130F:0000::/64

ntfy:
  host: sub.hostname.tld

registryui:
  host: sub.hostname.tld
  nginxProxyUrl: htts://ip.ip.ip.ip:port
  nginxHeaderAuth: Basic base64
