my_host: 1.2.3.4
ansible_user: user
tf_vars: api_url = \"https://12.34.56.78:8006/api2/json\"\nssh_key = \"ssh-ed25519 key ansible\"\ntoken_secret = \"token-secret-here\"\ntoken_id = \"user@thing!token-name\"\nip_addr = \"{{ inventory_hostname }}/24\"\ngw = \"123.45.67.89\"
