{{ ansible_managed | comment }}

global:
  checkNewVersion: false
  sendAnonymousUsage: false

log:
  filePath: /var/log/traefik/traefik.log
  level: ERROR

accessLog:
  filePath: /var/log/traefik/access.log

entryPoints:
  https:
    address: ":{{ traefik_dst_port }}"
    http3: {}
    http:
      tls:
        certResolver: default-ssl
        domains:
          - main: "{{ acme_domain }}"
## wildcard dns
#            sans:
#              - "*.{{ acme_domain }}"

## providers
providers:
  file:
    directory: "/etc/traefik"
    watch: false

api:
  insecure: false
  dashboard: false

ping: {}

http:
  middlewares:
    make-error-404:
      replacePath:
        path: "/admin-is-refused"
  routers:
    admin-router:
      rule: "Host(`vw.nekoserv.fr`) && PathPrefix(`/admin`)"
      service: "main-svc"
      middlewares:
        - make-error-404
    main-router:
      rule: "Host(`{{ acme_domain }}`) && PathPrefix(`/`)"
      service: "main-svc"
  services:
    main-svc:
      loadBalancer:
        servers:
          - url: "{{ traefik_host }}"

## https mode : let's encrypt
certificatesResolvers:
  default-ssl:
    acme:
      email: "contact@domain.com"
      storage: "/etc/traefik-ssl/acme.json"
      dnsChallenge:
        provider: {{ traefik_dns_provider }}
        delayBeforeCheck: 10
