acme_email: user@mail.tld
acme_uri: https://acme-v02.api.letsencrypt.org/acme/acct/69583192
acme_private_key: 
acme_key_type: 

acme_certificate: 
acme_domain: 
acme_key: 

timezone: America/Los_Angeles

traefik_env_vars: \nexport KEY1=value\nexport KEY2=value2\nexport KEY3=value3
traefik_dns_provider: 
traefik_dst_port: 1234
traefik_host_ha: http://1.2.3.4:8123
